body
{
 width:100%;
 background-image:linear-gradient(45deg,rgba(238,238,238,0.5),rgba(238,238,238,0.9)) !important;
}

.container-fluid
{
	padding: 0;
	margin: 0;
}


.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img
{
	width: 100vw;
	height: 80vh;
}

.navbar-brand
{
	padding: 0;
}

ul img
{
	margin-top: -15px;
}

section img
{
	margin-left: 40%;
	margin-bottom: 10px;
	margin-top: 10px;
}

input, select
{
	height: 45px;
	border : #D32F2F solid 1px;
}

option
{
	color: #D32F2F;
}

#museumForm
{
	padding-bottom: 10px;
	border-bottom: dashed #D32F2F 1px;
}

footer
{
	background-color: #D32F2F;
	margin-top: 10px;
	float: left;
	bottom: 0px;
	width: 100%;
}

footer p
{
	text-align: center;
	color: white;
}

footer a 
{
	color: cyan;
}

footer a:hover
{
	color: cyan;
}

/*  /==== DEBUT FORMULAIRE ====\ */

/* Code couleur :
	
	- Border input : #d5d5d5
	- Titre : #3c3c3c
	- Placeholder : #e3e3e3
	
	Ensemble classe : 
	
	- box_form : L'ensemble de la boite du formulaire
	- barre_en_tete : Barre de couleur en haut
	- champ_normal : Simple block du champ input text
	- block_radio : Block contenant mes radios
	- radio_prob_achat : radio "Produit non livré boutique"
	- radio_prob_joueurs : radio "Problème entre joueur"
	- champ_textarea : Block contenant mon textarea
	- bouton_envoyer : Block contenant mon bouton "envoyer"
*/

.box_form
{
	margin-bottom: 10px;
    margin-top: 10px;
	padding: 0;
	width : 100%; 
	background-color: #EAEAEA;
	border-bottom:3px #D32F2F solid;
	border-right:3px #D32F2F solid;
	border-radius: 3px;
}

.box_form form
{
	margin-left: 42px;
}


h1
{
	text-align: center;
	color: #3c3c3c;
	font-weight : bold; 
	font-family: 'Quicksand', sans-serif;
	font-size: 4em;
}

h2
{
	margin-top: 1.5em;
	text-align: center;
	color: #3c3c3c;
	font-weight : bold; 
	font-family: 'Quicksand', sans-serif;
	font-size: 3em;
}

h3
{
	color: #3c3c3c;
	font-size: 20px;
	font-weight : normal; 
	font-family: 'Quicksand', sans-serif;
}

.box_form h2
{
	text-align: center;
	padding-top: 10px;
	color: #3c3c3c;
	font-weight : bold; 
	font-family: 'Quicksand', sans-serif;
	font-size: 3em;
}

.box_form input, textarea
{
	height: 45px;
	width: 96%;
	border : #d5d5d5 solid 2px;
}
	
.box_form textarea
{
	min-height: 80px;
	overflow: auto;
	resize: vertical;
}

.box_form .champ_select select option, .champ_select select
{
	color: #979797;
}

/* DEBUT PLACEHOLDER */

.box_form ::-webkit-input-placeholder /* Chrome/Opera/Safari */
{
	color: #3e3e3e;
}

.box_form ::-moz-placeholder /* Firefox 19+ */
{
	color: #3e3e3e;
}

.box_form :-ms-input-placeholder /* IE 10+ */
{
	color: #3e3e3e;
}

.box_form :-moz-placeholder  /* Firefox 18- */
{
	color: #3e3e3e;
}
/* FIN PLACEHOLDER */

/* DEBUT DES RADIOS */

.box_form .block_radio input
{
	height: 13px;
	width: 13px;
	background-color: red;
}

.box_form .block_radio label
{
	color: #3C3C3C;
}

/* FIN DES RADIOS */

.box_form .bouton_envoyer 
{
	margin-top: 20px;
	padding-bottom: 20px;
}

.box_form .bouton_envoyer input
{
	width: 96%;
	height: 50px;
}

.box_form textarea
{
	height: 96px;
}

.box_form p
{
	font-style: italic;
	color: red;
	font-size: 0.7em;
}

/* /==== FIN FORM ====\ */


.navbar{
	background-color: #D32F2F;
	border: none !important;  
	box-shadow: 5px 5px 10px #B0BEC5!important;
	
}

.nav_a{
	margin-left: 7em;
	color: white !important;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
}

p 
{
	line-height: 2em;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
	color: black;
}

.puce_couleur::before {
	content: "•";
	color: #D32F2F;
	line-height: 2em;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
	padding-right: 1em;
}

ul li
{
	line-height: 2em;
	margin-left: -30px;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
	color: black;
	list-style: none;
}

.bouton{
	background-color: #D32F2F;
	border: none !important;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
}
.box_form .barre_en_tete
{
	background-color: #D32F2F;
	height: 5px;
	width: 616px;
	margin-left: -20px;
	margin-bottom: 20px;
}

/* Tuiles!!!! */

.caption{
	display:block;
}

.thumbnail{
	
	display:inline-block;
	top:5%;
	left:2%;
	width:80%;
	height: 350px;
	border-radius: 3px; 
	border:none;
	border-bottom:3px #D32F2F solid;
	border-right:3px #D32F2F solid;
	margin:3%;
	background-color: #F7F7F7;
	-webkit-animation: box 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: box 2s; /* Firefox < 16 */
	-ms-animation: box 2s; /* Internet Explorer */
	-o-animation: box 2s; /* Opera < 12.1 */
	animation: box 2s;
	
}

@keyframes box {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes box {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes box {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes box {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.caption h3{
	
	color:#757575;
	margin-left:3%;
	font-size:2em;
}

.caption p{
	
	color:#757575;
	font-size:1.2em;
	margin-left:3%;
}

.caption label{
	
	position: relative;
	left: 1%;
	bottom:1%;
	margin-left:3%;
	font-size:1.2em;
	color:#757575;
}

.caption .btn{
	
	width:70%;
	position:relative;
	left:10%;
	top:2%;
	margin-top:3%;
	background-color: #D32F2F;
	text-transform:uppercase;
	font-size:1em;
	border-radius:12px / 65px;
	border:none;
	font-weight:bold;
	
}

@keyframes button{
	
	0%{opacity:1;}
	20%{opacity:0.9;}
	40%{opacity:0.8;}
	60%{opacity:0.7;}
	80%{opacity:0.6;}
	100%{opacity:0.5;}
}

.caption .btn:hover{
	
	animation-name:button;
    animation-duration: 0.4s;
    opacity:0.5;
}

/* Fin Tuiles!!!! */