﻿<h1>{{NOM DU MUSEE}}</h1>

<section class="container col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
	
	<h2>Coordonnées du musée</h2>
	<img src="img/book.svg" class="img_pres_muse" alt="Logo Projet" height="100"/>
	<ul>
		<li><b>Adresse</b> : {{ADR}}</li>
		<li>{{CP}} - {{VILLE}}</li>
	<li><b>Site web</b> : <a href="{{SITWEB}}">{{SITWEB}}</a></li>
	</ul>
</section>

<section class="container col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
	<h2>Horaires</h2>
	
	<img src="img/circular-clock.svg" class="img_pres_muse" alt="Logo Projet" height="100"/>
	<ul>
		<li><b>Période d'ouverture</b> : {{PERIODE OUVERTURE}}</li>
	<li><b>Fermeture annuelle</b> : {{FERMETURE ANNUELLE}}</li>
		<li><b>Nocturne</b> : {{JOURS NOCTURNES}}</li>
	</ul>
</section>
<h2>Nous trouver</h2>