  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{NOM DU MUSEE}}</h3>
        <p>{{CP}} {{VILLE}}</p><br/>
        <a href="detailsmusees.php?id={{id}}" class="btn btn-primary" role="button">Afficher</a>
      </div>
    </div>
  </div>